In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [4]:
df = pd.read_csv('DatosSeguros.csv')
df.head()

   edad sexo    imc  hijos fumador        region  valor_seguro
0    19    F  27.90      0     yes        Caribe    16884.9240
1    19    F  27.90      0     yes        Caribe    16884.9240
2    19    F  27.90      0     yes        Caribe    16884.9240
3    18    M  33.77      1      no  Cundinamarca     1725.5523
4    28    M  33.00      3      no  Cundinamarca     4449.4620

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   edad          1349 non-null   int64
 1   sexo          1349 non-null   object
 2   imc           1347 non-null   float64
 3   hijos         1349 non-null   int64
 4   fumador       1347 non-null   object
 5   region        1349 non-null   object
 6   valor_seguro  1349 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.9+ KB

In [6]:
#Datos nulos
df.isnull().sum()

edad            0
sexo            0
imc             2
hijos           0
fumador         2
region          0
valor_seguro    0
dtype: int64

In [7]:
df = df.dropna()
df.isnull().sum()

edad            0
sexo            0
imc             0
hijos           0
fumador         0
region          0
valor_seguro    0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1345 entries, 0 to 1348
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   edad          1345 non-null   int64
 1   sexo          1345 non-null   object
 2   imc           1345 non-null   float64
 3   hijos         1345 non-null   int64
 4   fumador       1345 non-null   object
 5   region        1345 non-null   object
 6   valor_seguro  1345 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 84.1+ KB

In [10]:
df.duplicated().sum()

12

In [11]:
df = df.drop_duplicates()
df.duplicated().sum()

0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1333 entries, 0 to 1347
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   edad          1333 non-null   int64
 1   sexo          1333 non-null   object
 2   imc           1333 non-null   float64
 3   hijos         1333 non-null   int64
 4   fumador       1333 non-null   object
 5   region        1333 non-null   object
 6   valor_seguro  1333 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 83.3+ KB

In [13]:
rangos=[17,28,38,48,58,68]
nombre_rango=['A','B','C','D','E']

In [14]:
df['Rango_Edad']=pd.cut(df['edad'],rangos,labels=nombre_rango)
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
Index: 1333 entries, 0 to 1347
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   edad          1333 non-null   int64
 1   sexo          1333 non-null   object
 2   imc           1333 non-null   float64
 3   hijos         1333 non-null   int64
 4   fumador       1333 non-null   object
 5   region        1333 non-null   object
 6   valor_seguro  1333 non-null   float64
 7   Rango_Edad    1333 non-null   category
dtypes: category(1), float64(2), int64(2), object(3)
memory usage: 84.8+ KB
None
   edad sexo     imc  hijos fumador        region  valor_seguro Rango_Edad
0    19    F  27.900      0     yes        Caribe   16884.92400          A
3    18    M  33.770      1      no  Cundinamarca    1725.55230          A
4    28    M  33.000      3      no  Cundinamarca    4449.46200          A
5    33    M  22.705      0      no     Antioquia   21984.47061          B
6    32    M  28.880      0      no     Antioquia    3866.85520          B